﻿@model LO4.Models.User

@{
    ViewData["Title"] = "CreateUser";
}

<h2 style="text-align:center;">Registeer</h2>
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div style="text-align:center;align-content:center;margin-left:35%;margin-right:35%">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
<div class="row" style="text-align:center;align-content:center;margin-left:35%;margin-right:35%">
    <div>
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" id="sendButton" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

