﻿@page
<div class="container">
    <div>&nbsp;</div>
    <div style="text-align:center">
        <h1>LaboOpdracht4</h1>
        <p>
            Ik heb voor deze opdracht een Asp.net core website gemaakt. Deze website gebruikt een mongoDB om users toe te voegen. 
            Deze wordt dan ook weer uitgelezen zodat de users kunnen inloggen. 
            Wanneer deze hebben ingelogd kunnen ze een livestream zien van een webcam die zich op de pi bevindt. 
            Onder deze livestream wordt er dan telkens met Signal R toegevoegt wie er allemaal aan het kijken is.
        </p>
    </div>
</div>