﻿@model LO4.Models.User

@{
    ViewData["Title"] = "Webcam";
}

<h2 style="text-align:center;">log in</h2>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div style="text-align:center;align-content:center;margin-left:35%;margin-right:35%">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
<div class="row" style="text-align:center;align-content:center;margin-left:35%;margin-right:35%">
    <div>
        <form asp-action="Webcam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" id="userInput" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="inloggen" id="sendButton" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@if (@TempData["data"] != null)
{
    <div align="center">
        <h1>Webcam</h1>
        <iframe src="http://rpi-mdevaere:8081/" width="700" height="500" frameborder="0"></iframe>
        <ul style="list-style-type:none" id="messagesList"></ul>
    </div>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/webcam.js"></script>
}